<link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">

<nav>       
    <ul>
        
      <li><img src="/static/thgram.jpg" alt="thegram" id="logo"><a href="{% url 'home' %}">The Gram</a>
              <br>
      <li class="nav-item">
          <a class="nav-link waves-light" href="{%url 'profile' %}">My account</a>
        </li>
      <li><a href="#news">Logout</a></li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link waves-light" href="{%url 'upload'%}">Post image</a>
        </li>
        {% endif %}
      <li style="float:right"><div class="collapse navbar-collapse" id="search">
            <form class="form-inline my-2 my-lg-0" action="{% url 'search_user' %}">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div></li>
    </ul>



</nav>