/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  /* li a:hover {
    background-color: #111;
  } */
   /* */ 
 #logo {
    height: 60px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: whitesmoke;
  height: 70px;
  font-family: 'Lobster', cursive;
  font-size: larger;
}

li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: skyblue;
}
