{% extends 'base.html'%}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
        {% for image_item in images %}
         <!-- Card -->
      <div class="card mt-2 pb-2 mb-4 white">
        <!-- Card header -->
        <div class="card-footer pb-1 pt-1 text-dark font-weight-bold white">
          <img src="{{ image_item.Author.profile.photo.url }}" alt="" class="rounded-circle img-fluid mr-1"
            style="width: 50px;">
          {{image_item.User}}

        </div>

        <!-- Card image -->
        <div class="view overlay">
          {% if image_item.image_file %}
          <img class="card-img-top pl-1 pr-1" src="{{image_item.image_file.url}}" alt="{{ image_item.image_name }}">
          {% else %}
          <img class="card-img-top" src="https://i.pinimg.com/236x/b5/17/b0/b517b0140cbb0fb2dbf2510aeb8f88e9.jpg"
            alt="{{ image_item.image_name }}">
          {% endif %}
          <a href="/image/{{image_item.id}}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
          <a class='info' href="{% url 'like_image' image_item.id %}">
            {%if image_item.likes.id == user.id%}
            <i class="fas fa-heart" style="font-size:20px;" class="success"></i>
            {%else%}
            <i class="far fa-heart" style="font-size:20px;" class="success"></i>
            {%endif%}
          </a>

          <!-- End of like button -->
          <!-- Title -->
          <p class="card-title font-weight-bold" id="{{image_item.id}}">{{ image_item.User }} <span
              class="card-text ml-2"> {{ image_item.description }} </span></p>
          <!-- Text -->
          <!-- <p class="card-text">{{ image_item.description }}</p> -->
          <!-- Button -->
          {% for comment_item in comments %}

          {% if image_item.pk == comment_item.image.pk%}
          <p> {{comment_item.user}} <span class="text-black-50"> {{comment_item.comment}} </span> </p>
          {% endif %}

          {% endfor %}

          <div><small class="text-black-50">{{image_item.pub_date|timesince}} ago</small></div>
        </div>

        <!-- Card footer -->
        <div class="card-footer text-muted text-center white">
          <form action="{%url 'home' %}" method="post" enctype="multipart/form-data">

            {%csrf_token%}
            <div class="form-row">
              <div class="col-lg-10">

                {{ form.comment|as_crispy_field }}

        {% endfor %}
</div>
<div class="col-md-4"></div>
</div>
</div>

{% endblock %}